<section class="faq-section" id="faq">
  <div class="container">
    <h2 class="faq-title">Все, що ви хотіли знати</h2>
    <div class="container-faq">
      <div class="container-faq-item">
        <p class="faq-p">
          Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика
          додому?
        </p>
        <button type="button" class="faq-btn">
          <svg class="faq-icon" width="15" height="15">
            <use href="/img/icons.svg#icon-add"></use>
          </svg>
        </button>
      </div>

      <div class="container-faq-item">
        <p class="faq-p">
          Як мені найкраще підготувати свій дім та родину до появи хвостика?
        </p>
        <button type="button" class="faq-btn">
          <svg class="faq-icon" width="15" height="15">
            <use href="/img/icons.svg#icon-add"></use>
          </svg>
        </button>
      </div>

      <div class="container-faq-item">
        <p class="faq-p">
          Чи можу я бути впевненим, що тваринка здорова? Розкажіть про щеплення.
        </p>
        <button type="button" class="faq-btn">
          <svg class="faq-icon" width="15" height="15">
            <use href="/img/icons.svg#icon-add"></use>
          </svg>
        </button>
      </div>

      <div class="container-faq-item">
        <p class="faq-p">
          Я дуже хочу допомогти, але поки не готовий до адопції. Чим я можу
          підтримати «Хатинку лапок»?
        </p>
        <button type="button" class="faq-btn">
          <svg class="faq-icon" width="15" height="15">
            <use href="/img/icons.svg#icon-add"></use>
          </svg>
        </button>
      </div>

      <div class="container-faq-item">
        <p class="faq-p">
          Мені сподобалась одна з ваших тваринок на сайті. Чи можу я приїхати,
          щоб познайомитися з нею особисто?
        </p>
        <button type="button" class="faq-btn">
          <svg class="faq-icon" width="15" height="15">
            <use href="/img/icons.svg#icon-add"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
