<section class="pets-list-section" id="pets-list">
  <div class="container">
    <h2 class="section-pets-title">Наші хвостики</h2>
    <p class="section-pets-p">Вони дуже чекають на знайомство з вами</p>
    <ul class="pets-category-list">
      <li class="category-list-item">
        <button
          class="pet-category-button all animated-button dark"
          type="button"
          aria-label="Всі категорії тварин"
        >
          Всі
        </button>
      </li>
    </ul>
    <ul class="pets-list"></ul>
    <button
      class="more-pets-button animated-button dark"
      type="button"
      aria-label="Показати більше тварин">
      Показати більше
    </button>
    <span class="loader"></span>
    <div class="pets-list-navigation" role="navigation" aria-label="Навігація сторінок списку тварин">
    
      <button class="pets-nav-btn back animated-nav-button is-deactive-nav" type="button" aria-label="Попередня сторінка">
        <svg aria-hidden="true"  width="24" height="24">
          <use href="/img/icons.svg#icon-arrow_back"></use>
        </svg>
      </button>
    
      <button class="pets-nav-button one" type="button" aria-label="Сторінка 1" aria-current="page">1</button>
      <button class="pets-nav-button two" type="button" aria-label="Сторінка 2">2</button>
      <button class="pets-nav-button three" type="button" aria-label="Сторінка 3">3</button>
      <span class="pets-nav-dots" aria-hidden="true">…</span>
      <button class="pets-nav-button four" type="button" aria-label="Сторінка 4">4</button>
    
      <button class="pets-nav-btn forward animated-nav-button" type="button" aria-label="Наступна сторінка">
        <svg aria-hidden="true" width="24" height="24">
          <use href="/img/icons.svg#icon-arrow_forward"></use>
        </svg>
      </button>
    
    </div>
  </div>
</section>
