.about-us-section {
  padding-top: 64px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 64px;
}

.about-us-section h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #02060a;
  text-align: center;
  margin-bottom: 24px;
}

.swiper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
}


.swiper-slide {
  position: relative;
}

.slide-wrapper {
  position: relative;
}

.slide-wrapper picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.slide-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  background: transparent;
  color: #f6f4f1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.50;
}


.swiper-controls {
  margin-top: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0px;
}


.swiper-pagination {
  display: flex;
}



.about-us-section .swiper-pagination-bullet {
  border-radius: 100%;
  background-color: #02060a !important; 
  opacity: 0.6;
}


.about-us-section .swiper-pagination-bullet-active {
  background-color: #02060a !important;
  opacity: 1;
}




.about-us-section.swiper-pagination-bullet:hover {
  background: #333; 
  transform: scale(1.2);
}



.swiper-navigation {
  display: flex;
  gap: 8px; 
  margin-left: auto; 
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;   
  background-color: #eee9e3; 
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 12px;
  width: 48px;
  height: 48px;
  border: 1px solid #c3b49d;;
  border-radius: 8px; 
}



.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}


.swiper-button-prev svg,
.swiper-button-next svg,
.swiper-button-prev use,
.swiper-button-next use {
  width: 20px;
  height: 20px;
  fill: #02060a !important; 
  color: #02060a !important; 
  transition: fill 0.3s ease, color 0.3s ease;
}


.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  border: 1px solid rgba(2, 6, 10, 0.6);
  border-radius: 8px;
  transform: translateY(2px);
  ;
}


.swiper-button-prev:active,
.swiper-button-next:active {
  border: 1px solid rgba(2, 6, 10, 0.6);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
border-radius: 8px;
transform: translateY(2px);
  background: #eee9e3; 
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg,
.swiper-button-prev:hover use,
.swiper-button-next:hover use {
  fill: #332c22 !important;
  color: #332c22 !important;
}



@media (min-width: 768px) {
  .about-us-section {
    padding-left: 32px;
    padding-top: 64px;
    padding-right: 32px;
    padding-bottom: 64px;
  }

  .about-us-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .about-us-section .slide-text {
    font-size: 16px;
  }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute !important;
      top: 50%;                      
      /* transform: translateX(-50%); */
      z-index: 10;  
    }
  
  
    /* .swiper-button-prev {
      margin-left: -24px;
    }

    .swiper-button-next {
      margin-right: -24px;
    }
   */
      .swiper-navigation {
        margin-left: auto; 
      }
      .about-us-section .swiper-pagination {
        width: auto; 
        margin: 0;
      }
    
      .swiper-pagination {
        display: block;
      }
    
  }


@media (min-width: 1440px) {
  .about-us-section {
    padding: 80px 64px;
  }

  .about-us-section h2 {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .about-us-section .slide-text {
    font-size: 18px;
    max-width: 548px;
    padding-bottom: 64px;
    padding-left: 64px;
  }

  .swiper-controls {
    margin-bottom: 48px;
  }
}

