/*#region-footer */
/* styles for mobile devices */
.footer {
  background-color: #c3b49d;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.footer-links-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 32px;
}

.footer-logo-links {
  display: flex;
  align-items: center;
  gap: 15.8px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-nav-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  color: #02060a;
  display: inline-block;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fff;
  transform: scale(1.1);
}

.footer-socials-list {
  display: flex;
  gap: 24px;
}

.footer-socials-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icon:hover,
.footer-socials-icon:focus {
  fill: #fff;
}

.copyright-wrapper {
  text-align: center;
  width: 100%;
}

.horizontal-line {
  border: 1px solid rgba(2, 6, 10, 0.15);
  width: 100%;
  max-width: 375px;

  height: 0px;
  margin-bottom: 32px;
}

.footer-copyright {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #02060a;
}

/* styles for tablet */
@media only screen and (min-width: 768px) {
  .footer-nav-list {
    display: flex;
    flex-direction: row;
    row-gap: 32px;
    column-gap: 32px;
  }

  .horizontal-line {
    width: 100%;
    max-width: 704px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .horizontal-line {
    max-width: 1312px;
  }
}
